body{
    background-color: bisque;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white-text{
    color: skyblue;
}

ul{
    height: 10rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;

}
li{
    background-color: white;
    border: solid black;
    border-radius: 6px;
}

.div__space-between{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: azure;
    border: solid black 5px;
    width: 60vw;
}
section {
    background-color: azure;
    border: solid black 5px;
    width: 60vw
}

footer{
    background-color: azure;
    border: solid black 5px;
    width: 60vw
}
img{
    width: 50%;
    height: auto;
}

.header__color{
    background-color: blueviolet;
}
.section__color{
    background-color: green;
}
.footer__color{
    background-color: blue;
}

.section--img{
    background-image: url("/Manipulating-the-DOM/assets/kirby-30th-kirbys-2560x1440-1.webp");
}

.body__color{
    background-color: #ff0011b4;
}
